<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petit</title>
</head>
<body>
<div>
    <form method="get">
        <h1 th:text="${random}">Текущий размер файла</h1>
    </form>
</div>
<br>
<br>

<div style="display:table-cell; vertical-align:middle; text-align:center">
    <img src="../static/images/logo.jpg" style="font-family: verdana; font-size:300%; max-width:70%; height:auto;"
         alt="petit" th:src="@{/images/logo.jpg}">
</div>
</body>
</html>